<!DOCTYPE html>
<html>
<head>
    <title>Lat/Lng Object Literal</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAalN5tABI31Q0scBRKb3XvcEVjWF-90gY&callback=initMap&libraries=&v=weekly"
            defer
    ></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        // In this example, we center the map, and add a marker, using a LatLng object
        // literal instead of a google.maps.LatLng object. LatLng object literals are
        // a convenient way to add a LatLng coordinate and, in most cases, can be used
        // in place of a google.maps.LatLng object.
        let map;
        let openInfoWindow;
        function initMap() {
            const mapOptions = {
                zoom: 16,
                center: { lat: 1.3509859, lng: 103.84825507492937 },
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            $.ajax({
                url: '/map/markers',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let coordinates = data;
                    var marker, i;
                    for (i = 0; i < coordinates.length; i++){
                        marker = new google.maps.Marker({
                            // The below line is equivalent to writing:
                            // position: new google.maps.LatLng(-34.397, 150.644)
                            label: coordinates[i]["name"],
                            position: { lat: parseFloat(coordinates[i]["location"][0]) , lng: parseFloat(coordinates[i]["location"][1]) },
                            map: map,
                        });

                        let content = coordinates[i]["name"] + "Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text Dummy text <a href='google.com'>Test</a>";
                        let infowindow = new google.maps.InfoWindow();
                        google.maps.event.addListener(marker,'click', (function(marker, content, infowindow){
                            return function() {

                                if (openInfoWindow){
                                    openInfoWindow.close();
                                }

                                infowindow.setContent(content);
                                openInfoWindow = infowindow;
                                infowindow.open(map,marker);
                            };
                        })(marker,content,infowindow));
                    }
                },
                error: function (err) {
                alert("Unable to load map markers. Please retry later.")
                },
            });
        }
    </script>
</head>
<body>
<div id="map"></div>
</body>
</html>