<footer class="footer has_style2 bg_brand_light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-desc">
                    <div class="logo">
                        <a href="/">
                            <img src="https://cdn.kado.sg/themes/site1/img/logo_dark.png" alt="">
                        </a>
                    </div>
                    <p class="footer_text">
                        We aim to assist you to purchase your next HDB Resale Flat
                    </p>
                    <div class="social_footer">
                        <a href="#"><i class="ri-facebook-fill"></i></a>
                        <a href="#"> <i class="ri-github-fill"></i></a>

                    </div>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-2"></div>
            <div class="col-lg-2 col-6">
                <h6 class="list-title">Team</h6>
                <ul class="list-items">
                    <li> <a href="../inner_pages/about.html">About</a> </li>
                    <li> <a href="../inner_pages/contact.html">Contact us</a> </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6">
                <h6 class="list-title">Useful links</h6>
                <ul class="list-items">
                    <li> <a href="../inner_pages/coming_soon.html">Coming Soon </a> </li>
                    <li> <a href="../inner_pages/thanks.html">Thank you </a> </li>
                    <li> <a href="../inner_pages/404.html">404 </a> </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h6 class="list-title">Legal</h6>
                <ul class="list-items">
                    <li> <a href="../inner_pages/privacy.html">privacy</a> </li>
                    <li> <a href="../inner_pages/privacy.html">terms of use </a> </li>
                    <li> <a href="../inner_pages/privacy.html">Cookies</a> </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright text-center "> Copyright 2021 @ HDB Resale Radar | All Rights Reserved.</p>
</footer>