<header class="header-nav-center no_blur  " id="myNavbar">
    <div class="container">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light px-sm-0 fixed-top bg-white">
            <a class="navbar-brand ml-5" href="/">
                <img class="logo" src="https://cdn.kado.sg/themes/site1/img/logo_dark.png" alt="logo">
            </a>
            <button class="navbar-toggler menu ripplemenu" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <svg viewBox="0 0 64 48">
                    <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                    <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                    <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
                </svg>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/" style="font-size: 18px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/radar/" style="font-size: 18px;">Radar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mr-0" href="/price-prediction/" style="font-size: 18px;">
                            Price Prediction <span class="badge text-primary" style="position:relative; top:-1em; left:-0.8em;">Beta</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 18px;">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 18px;">Contact Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" style="font-size: 18px;">FAQ</a>
                    </li>

                </ul>
                {% if user.is_authenticated %}
                    <div class="nav_account mr-5">
                        <a href="/dashboard" class="btn btn-primary">
                            My Dashboard
                        </a>
                    </div>
                {% else %}
                    <div class="nav_account mr-5">
                        <a href="/account/login" class="btn btn-primary">
                            Login / Register
                        </a>
                    </div>
                {% endif %}
            </div>

        </nav>
        <!-- End Navbar -->
    </div>
    <!-- end container -->
</header>
<div class="spacer_header_top"></div>