{% extends "main/base.html" %}
{% load static %}

{% block extrahead %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHW0mJx7XVXnSeZsGcELMocpCPZKlFAy8&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
    <!--&lt;!&ndash; ======= News Ticker ======= &ndash;&gt;-->
    <!--<div class="tcontainer"><div class="ticker-wrap"><div class="ticker-move">-->
    <!--  <div class="ticker-item">HDB flats remain HOT with SGD$23M unit sold last month.</div>-->
    <!--  <div class="ticker-item">13 HDB resale flats sold for at least SGD$1M last month</div>-->
    <!--  <div class="ticker-item">HDB you would not want to miss</div>-->
    <!--  <div class="ticker-item">BTO or Resale?</div>-->
    <!--</div></div></div>-->
    <!--&lt;!&ndash;End of News Ticker&ndash;&gt;-->

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="{% static "/img/display-img.jpg" %}" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light"><a href="index.html">SS7_Grp 02</a></h1>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
                    <li><a href="#interactivemap" class="nav-link scrollto active"><i class="bx bx-map"></i> <span>Interactive Map</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
                    <li><a href="#news" class="nav-link scrollto"><i class="bx bx-news"></i> <span>News</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>SS7_Group 02</h1>
            <p> <span class="typed" data-typed-items="Re-Think, Re-Consider, Re-Evaluate"></span></p>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Interactive Map Section (To be changed to Folium Map) ======= -->
        <section id="interactivemap" class="interactivemap px-3">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Interactive Map</h2>


                    <!--Inserting a search bar within a map (Not Done) -->


                    <a href="./neighbourhoodSummary.html"><button type="submit" class="btn btn-primary">Submit</button></a> <p>this button is in place to the marker on the map just to show you the next page after user click the marker. I know that the transition to next page is done by clicking the marker.</p>

                </div>
                <div>
                    <div id="map" style="height: 500px; width: 100%;"></div>
                </div>
            </div>
        </section>

        <!-- ======= About Section ======= -->
        <section id="about" class="about px-3">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                    <p>The ‘Re-think, Re-consider’ team aims to develop a web application that enables buyers to have
                        an accurate estimate of resale flat prices in different neighborhoods that are up to date through data
                        visualization and filtering.
                        This project will be considered complete when the website has been tested and approved.
                        This project supports the Housing and Development Board (H.D.B) objective in providing affordable,
                        quality housing and a great living environment where communities thrive</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img src="{% static "/img/profile-img.jpg" %}" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>What exactly does a home mean to you?</h3>

                        <p class="font-italic">
                            A place, a person, a feeling - home holds a different meaning for each of us. HDB is an integral part of the
                            Singapore story. It has a profound influence on the lives of Singaporeans. Because of HDB, we are a nation
                            of home owners. Because of HDB, we are a cohesive society, with diverse communities living side-by-side, and
                            forging a closer sense of shared identity.
                        </p>
                        <p>
                            Because of HDB, we are able to deliver a quality of life that is
                            unique and that you cannot find anywhere else in the world.  Our commitment is that anywhere you go, in any
                            part of Singapore, you will be able to secure affordable and quality homes with vibrant communities in good
                            and safe neighbourhoods.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= News Section ======= -->
        <section id="news" class="news">

            <div class="container">
                <div class="section-title px-3">
                    <h2>News</h2>
                    <p>The ‘Re-think, Re-consider’ team aims to source out the latest news to ensure you are up to date with the lastest property news trend.</p>
                </div>
                {% for news in news_list %}
                    <div class="fullbar-item w-100 cursor-pointer">
                        <div class="row">
                            <div class="col-12 col-md-3 my-4 d-flex align-items-center justify-content-center">
                                <div style="padding-left:1em">
                                    <img class="rounded w-100" src="{{ news.img_url }}" alt="Test">
                                </div>

                            </div>
                            <div class="col-12 col-md-7 my-4 d-flex flex-column align-items-start">
                                <h4>{{ news.title }}</h4>
                                <p>{{ news.get_summary }}</p>
                                <p class="small mb-0 text-muted" style="margin-top:auto;">{{ news.source }} | {{ news.date|date:"Y-m-d"}}</p>
                            </div>
                            <div class="col-12 col-md-2 my-4 d-flex align-items-center justify-content-center">
                                <h5><a href="{{ news.url }}" target="_blank">Read more</a></h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section><!-- End News Section -->

        <!-- ======= About Video Section ======= -->

        <section id="about-video" class="about-video px-3">
            <div class="container" data-aos="fade-up">

                <div class="row">

                    <iframe width="500" height="400px" src="https://www.youtube.com/embed/k7g4yNBjzwU" frameborder="0"          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"          allowfullscreen></iframe>
                </div>
            </div>
        </section><!-- End About Video Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services px-3">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>The services that we provide are listed below</p>
                </div>

                <div id="filterModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        Flat Type:
                        <select name="flatType" id="flatType">
                            <option value="" selected="selected">Select flat type</option>
                            <option value="1-Room">1-Room</option>
                            <option value="2-Room">2-Room</option>
                            <option value="3-Room">3-Room</option>
                            <option value="4-Room">4-Room</option>
                            <option value="5-Room">5-Room</option>
                            <option value="Executive">Executive</option>
                            <option value="Maisonette">Maisonette</option>
                        </select>
                        <br>
                        Neighbourhood Area:
                        <select name="neighbourhoodArea" id="neighbourhoodArea">
                            <option value="" selected="selected">Select neighbourhood area</option>
                            <option value="Ang Mo Kio">Ang Mo Kio</option>
                            <option value="Bedok">Bedok</option>
                            <option value="Bukit Batok">Bukit Batok</option>
                            <option value="Choa Chu Kang">Choa Chu Kang</option>
                        </select>
                        <br>
                        <a href="./infographic.html"><button type="submit" class="btn btn-primary">Submit</button></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-graph-up"></i></div>
                        <h4 class="title"><a href="#filterModal" id="filterButton">Price Prediction</a></h4>
                        <p class="description">Data geek in the making, we aim to use machine learning to forecast future HDB prices for you to make your decisions or future plannings.</p>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
{% block extrascripts %}
    <script>
        // In this example, we center the map, and add a marker, using a LatLng object
        // literal instead of a google.maps.LatLng object. LatLng object literals are
        // a convenient way to add a LatLng coordinate and, in most cases, can be used
        // in place of a google.maps.LatLng object.
        let map;
        let openInfoWindow;
        let markers = [];
        function initMap() {
            const mapOptions = {
                zoom: 12,
                center: { lat: 1.3509859, lng: 103.84825507492937 },
            };
            map = new google.maps.Map(document.getElementById("map"), mapOptions);

            $.ajax({
                url: '/map/markers',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    let coordinates = data;
                    var marker, i;
                    for (i = 0; i < coordinates.length; i++) {
                        marker = new google.maps.Marker({
                            // The below line is equivalent to writing:
                            // position: new google.maps.LatLng(-34.397, 150.644)
                            label: {
                                color: 'black',
                                fontWeight: 'bold',
                                text: coordinates[i]["name"],
                            },
                            labelClass: "labels",
                            icon: {
                                url: '/static/img/home-icon-silhouette.png',
                                {#size: new google.maps.Size(300, 300),#}
                                origin: new google.maps.Point(0, 0),
                                scaledSize: new google.maps.Size(30, 30),
                                labelOrigin: new google.maps.Point(15, 40)
                            },
                            position: {
                                lat: parseFloat(coordinates[i]["location"][0]),
                                lng: parseFloat(coordinates[i]["location"][1])
                            },
                            map: map,
                        });
                        markers.push(marker)
                    }

                    for (i = 0; i < markers.length; i++) {
                        marker = markers[i];

                        let content = coordinates[i]["name"] + "Dummy text <a href='google.com'>Test</a>";
                        let infowindow = new google.maps.InfoWindow();
                        google.maps.event.addListener(marker,'click', (function(marker, content, infowindow){
                            return function() {

                                if (openInfoWindow){
                                    openInfoWindow.close();
                                }

                                infowindow.setContent(content);
                                openInfoWindow = infowindow;
                                infowindow.open(map,marker);
                            };
                        })(marker,content,infowindow));
                    }
                },
                error: function (err) {
                    alert("Unable to load map markers. Please retry later.")
                },
            });

            // Set marker visibility when zoom changes
            google.maps.event.addListener(map, 'zoom_changed', function() {
                var zoom = map.getZoom();
                // iterate over markers and call setVisible
                for (i = 0; i < markers.length; i++) {
                    let marker = markers[i]
                    marker.setVisible(zoom >= 12);
                }
            });
        }
    </script>
{% endblock %}