{% extends "new/components/base.html" %}
{% load static %}

{% block extrahead %}
    <script src="{% static "js/chart.min.js" %}"></script>
    <script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot"></script>
    <style>
        svg {
            cursor: pointer;
            overflow: visible;
            width: 60px;
        }
        svg #heart {
            transform-origin: center;
            animation: animateHeartOut 0.3s linear forwards;
        }
        svg #main-circ {
            transform-origin: 29.5px 29.5px;
        }

        #checkbox {
            display: none;
        }

        #checkbox:checked + label svg #heart {
            transform: scale(0.2);
            fill: #E2264D;
            animation: animateHeart 0.3s linear forwards 0.25s;
        }
        #checkbox:checked + label svg #main-circ {
            transition: all 2s;
            animation: animateCircle 0.3s linear forwards;
            opacity: 1;
        }
        #checkbox:checked + label svg #grp1 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp1 #oval1 {
            transform: scale(0) translate(0, -30px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp1 #oval2 {
            transform: scale(0) translate(10px, -50px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp2 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp2 #oval1 {
            transform: scale(0) translate(30px, -15px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp2 #oval2 {
            transform: scale(0) translate(60px, -15px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp3 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp3 #oval1 {
            transform: scale(0) translate(30px, 0px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp3 #oval2 {
            transform: scale(0) translate(60px, 10px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp4 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp4 #oval1 {
            transform: scale(0) translate(30px, 15px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp4 #oval2 {
            transform: scale(0) translate(40px, 50px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp5 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp5 #oval1 {
            transform: scale(0) translate(-10px, 20px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp5 #oval2 {
            transform: scale(0) translate(-60px, 30px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp6 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp6 #oval1 {
            transform: scale(0) translate(-30px, 0px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp6 #oval2 {
            transform: scale(0) translate(-60px, -5px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp7 {
            opacity: 1;
            transition: 0.1s all 0.3s;
        }
        #checkbox:checked + label svg #grp7 #oval1 {
            transform: scale(0) translate(-30px, -15px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp7 #oval2 {
            transform: scale(0) translate(-55px, -30px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
        }
        #checkbox:checked + label svg #grp2 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }
        #checkbox:checked + label svg #grp3 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }
        #checkbox:checked + label svg #grp4 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }
        #checkbox:checked + label svg #grp5 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }
        #checkbox:checked + label svg #grp6 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }
        #checkbox:checked + label svg #grp7 {
            opacity: 1;
            transition: 0.1s opacity 0.3s;
        }

        @keyframes animateCircle {
            40% {
                transform: scale(10);
                opacity: 1;
                fill: #DD4688;
            }
            55% {
                transform: scale(11);
                opacity: 1;
                fill: #D46ABF;
            }
            65% {
                transform: scale(12);
                opacity: 1;
                fill: #CC8EF5;
            }
            75% {
                transform: scale(13);
                opacity: 1;
                fill: transparent;
                stroke: #CC8EF5;
                stroke-width: 0.5;
            }
            85% {
                transform: scale(17);
                opacity: 1;
                fill: transparent;
                stroke: #CC8EF5;
                stroke-width: 0.2;
            }
            95% {
                transform: scale(18);
                opacity: 1;
                fill: transparent;
                stroke: #CC8EF5;
                stroke-width: 0.1;
            }
            100% {
                transform: scale(19);
                opacity: 1;
                fill: transparent;
                stroke: #CC8EF5;
                stroke-width: 0;
            }
        }
        @keyframes animateHeart {
            0% {
                transform: scale(0.2);
            }
            40% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
        @keyframes animateHeartOut {
            0% {
                transform: scale(1.4);
            }
            100% {
                transform: scale(1);
            }
        }
    </style>
{% endblock %}

{% block body %}
    {% include "new/components/loader.html" %}

    {% include "new/components/header.html" %}

    <div class="section is_sm feautures has_style1 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="d-flex justify-content-between" style="position: relative">
                        <div class="section_head">
                            <!-- Heading -->
                            <h2 class="section_title is-center">
                                {{ town.name }}
                            </h2>
                            <h6 class="text-uppercase text-primary mb-10">
                                Resale price ranked #{{ rank }} out of {{ total_towns }}
                            </h6>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <div class="">
                                    <select class="form-control" name="compare_town" id="flat_type" required="">
                                        <option disabled="" selected="" value="">Select town</option>
                                        {% for town in all_towns %}
                                            <option class="form-select" value="{{ town.id }}">{{ town.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button class="btn btn-primary ml-4" id="compare-btn">Add to compare</button>
                            </div>

                        </div>
                        {% if user.is_authenticated %}
                            <div id="fav-btn" style="position: absolute; right: 0; min-width: 85px">
                                {% include 'new/components/fav-btn.html' %}
                                <small style="position: relative; bottom: 10px; " id="fav-text">Favourite</small>
                                {% csrf_token %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="text-left ml-4">
                        <h4>Overview</h4>
                        <hr>
                    </div>
                    <div id="container" class="mt-3" style="width: 100%;">
                        <canvas id="canvas"></canvas>
                    </div>

                    <div class="text-left ml-4 mt-5">
                        <h4>Historical prices</h4>
                        <h6>Historical median prices of 4-room resale flat for the past 12 months</h6>
                        <hr>
                    </div>
                    <div id="container" class="mt-3" style="width: 100%;">
                        <canvas id="median-line-chart"></canvas>
                    </div>

                    <div class="text-left ml-4 mt-5">
                        <h4>Market Outlook</h4>
                        <h6>Market supply/demand (Flats sold) for the past 12 months</h6>
                        <hr>
                    </div>
                    <div id="container" class="mt-3" style="width: 100%;">
                        <canvas id="market-line-chart"></canvas>
                    </div>
                </div>
                <div class="col-md-10 text-center mt-5">
                    <h5 class="mt-5">More stats are coming soon, <a href="{% url "account_signup" %}">register</a> an account to stay tuned to updates.</h5>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
    <script>
        function load_box_plot(town_name, data){
            const boxplotData = {
                // define label tree
                labels: data.labels,
                datasets: [{
                    label: town_name,
                    backgroundColor: 'rgba(255,0,0,0.5)',
                    borderColor: 'red',
                    borderWidth: 1,
                    outlierColor: '#999999',
                    padding: 10,
                    itemRadius: 0,
                    data: data.data
                }]
            };

            const ctx = document.getElementById("canvas").getContext("2d");
            let myChart = new Chart(ctx, {
                type: 'boxplot',
                data: boxplotData,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: false,
                            position: "bottom",
                            text: 'Overview of historical resale prices in ' + town_name
                        },
                        legend: {
                            display: true,
                            position: 'top',
                        },
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: false,
                                text: 'Flat Type'
                            },
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Price ( Thousands )'
                            },
                        }
                    }
                }
            });
            return myChart;
        }

        function load_median_line_chart(town_name, data){
            let ctx = $('#median-line-chart');
            const lineChartData = {
                labels: data.labels,
                datasets: [{
                    label: town_name,
                    data: data.data,
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    tension: 0.1
                }]
            };

            let myChart = new Chart(ctx, {
                type: 'line',
                data: lineChartData,
                spanGaps: true,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: false,
                            position: "bottom",
                            text: 'Overview of historical resale prices in ' + town_name
                        },
                        legend: {
                            display: true,
                            position: 'top',
                        },
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: false,
                                text: 'Months'
                            },
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Price ( Thousands )'
                            },
                        }
                    },
                }
            });
            return myChart;
        }

        function load_market_line_chart(town_name, data){
            let ctx = $('#market-line-chart');
            const lineChartData = {
                labels: data.labels,
                datasets: [{
                    label: town_name,
                    data: data.data,
                    fill: false,
                    borderColor: 'rgb(246, 213, 92)',
                    tension: 0.1
                }]
            };

            let myChart = new Chart(ctx, {
                type: 'line',
                data: lineChartData,
                options: {
                    responsive: true,
                    plugins: {
                        title: {
                            display: false,
                            position: "bottom",
                            text: 'Market situation in ' + town_name
                        },
                        legend: {
                            display: true,
                            position: 'top',
                        },
                    },
                    scales: {
                        x: {
                            display: true,
                            title: {
                                display: false,
                                text: 'Months'
                            },
                        },
                        y: {
                            display: true,
                            title: {
                                display: true,
                                text: 'Flats sold'
                            },
                        }
                    }
                }
            });
            return myChart;
        }
    </script>
    <script>
        let box_plot;
        let median_line;
        let market_line;
        $.ajax({
            url: '/api/hdb-stats',
            type: 'GET',
            data: {tid : {{ town.id }}},
            dataType: 'json',
            success: function(data) {
                box_plot = load_box_plot(data['town_name'], data["boxplot"]);
                median_line = load_median_line_chart(data['town_name'], data["medians"]);
                market_line = load_market_line_chart(data['town_name'], data["market"]);
            },
            error: function (err) {
                alert("Unable to load the page at the moment, please try again later.")
            }
        })

        {% if user.is_authenticated %}
            let $favCheckBox = $("#checkbox");
            $favCheckBox.change(function (){
                let is_checked = this.checked;
                $.ajax({
                    url: '/api/update-fav-town',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
                        town_id: {{ town.id }},
                        is_unfav: !is_checked,
                    },
                    dataType: 'json',
                    success: function(data) {
                        if (is_checked){
                            $("#fav-text").text("Unfavourite");
                        } else {
                            $("#fav-text").text("Favourite");
                        }
                    },
                    error: function (err) {
                        alert("Unable to add/remove from favourite, please try again later");
                    }
                })
            });
            {% if is_fav %}
                $favCheckBox.prop('checked', true);
                $("#fav-text").text("Unfavourite");
            {% endif %}
        {% endif %}


    </script>
    <script>
        function getRandomColor() {
            const r = Math.floor(Math.random() * (255) );
            const b = Math.floor(Math.random() * (255) );
            const g = Math.floor(Math.random() * (255) );
            return `rgb(${r},${b},${g})`
        }

        function addDataBoxPlot(chart, town_name, data, color) {
            const chartDataToPush = {
                label: town_name,
                backgroundColor: color,
                borderColor: 'red',
                borderWidth: 1,
                outlierColor: '#999999',
                padding: 10,
                itemRadius: 0,
                data: data.data
            };
            chart.data.datasets.push(chartDataToPush);
            chart.update();
        }

        function addData(chart, town_name, data, color) {
            const chartDataToPush = {
                label: town_name,
                data: data.data,
                fill: false,
                borderColor: color,
                tension: 0.1
            };
            chart.data.datasets.push(chartDataToPush);
            chart.update();
        }

        function addTownToChart(town_id){
            $.ajax({
                url: '/api/hdb-stats',
                type: 'GET',
                data: {tid : town_id},
                dataType: 'json',
                success: function(data) {
                    const color = getRandomColor();
                    addDataBoxPlot(box_plot, data['town_name'], data['boxplot'], color);
                    addData(median_line, data['town_name'], data["medians"], color);
                    addData(market_line, data['town_name'], data["market"], color);
                    $("#compare-btn").prop("disabled", false).text("Add to compare");
                    $(`option[value="${town_id}"]`).remove();
                },
                error: function (err) {
                    $("#compare-btn").prop("disabled", false).text("Add to compare");
                    alert("Unable to load the stats for that town at the moment, please try again later.")
                }
            });
        }
        $("#compare-btn").click(function (){
            const town_id = $("select[name='compare_town'] option:selected" ).val();
            if (!town_id){
                alert("Please select a town first.")
                return;
            }
            $(this).prop("disabled", true).text("Loading data...");
            addTownToChart(town_id);
        })

        $(`option[value="{{ town.id }}"]`).remove();


    </script>
{% endblock %}